        /* universal selector */
        *{
            margin:0;
            padding:0;
        }

        /* type selector */
        body{
            background-color: aqua;
        }

        /* class selector */
        .para{
            font-size:15px;
            font-weight: bolder;
            color:blue;
        }

        #container{
            width: 1320px;
            min-height: 500px;
            background-color:darkolivegreen;
            margin: auto auto;
        }
        .row{
            min-height: 5px;
        }
        .col100{
            width:100%;
        }

        .col75{
            width:75%;
            float:left;
        }

        .col50{
            width:50%;
            float:left;
        }
        .col25{
            width:25%;
            float:left;
        }

        .clear{
            clear:both;
        }
